@media (max-width: 800px) {
     .hideOnMobile{
        display: none;
     }

     .sideBarButton {
        display: block;
     }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}