:root {
    --primary--dark: #FFD689;
    --primary--light: #BF8BE2;
    --highlight--dark: #FFD034;
    --highlight--light: #9540ce;
    --secondary--dark: greenyellow;
    --secondary--light: orange;
    --text--dark: #DADADA;
    --text--light: #202020;
    --bg--dark: #151515;
    --bg--light: #FDFDFD;
    --transparent--dark: #35353533;
    --transparent--light: #ffffff2d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text--dark);
    font-weight: 300;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    scrollbar-width: auto;
    scrollbar-color: var(--color--yellowsHighlight) var(--text--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg--dark);
    background-color: #0f0f0f;
    color: var(--text--dark);
}

main {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

section {
    font-size: 2rem;
}

header {
    background-color: var(--text--light);
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

nav li {
    height: 3rem;
    margin-right: 1rem;
}

header nav {
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li {
    height: 5vh;
    margin-right: 1rem;
}

header nav ul li a {
    height: 100%;
    padding: 0 1.875rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--primary--dark);
}

header nav li a:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: var(--primary--light);
    transition: 0.3s;
    opacity: 100%;
    text-shadow: 0 0 .3rem var(--color--yellowsHighlight);
    background-color: #252525;

}

nav a:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: var(--highlight--dark);
    transition: 0.3s;
    opacity: 100%;
    text-shadow: 0 0 0.3rem var(--highlight--dark);
    background-color: #252525;
}

#logo {
    color: var(--highlight--dark);
    font-size: 1.5rem;
    text-shadow: 0 0 0.3rem var(--highlight--dark);
    transition: transform 1s ease-in-out;
}

header #logo {
    color: var(--primary--dark);
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 .3rem var(--highlight--dark);
    transition: transform 1s ease-in-out;
    font-family: serif;
}

header nav ul li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 15.625rem;
    background-color: var(--transparent--dark);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.sideBarButton {
    display: none;
}

.about {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    font-size: 2rem;
}

.about article {
    background-image: url(/src/assets/diagmonds.png);
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    border: 1px solid var(--primary--light);
    box-shadow: 0 0 0.3rem var(--highlight--light);
    border-radius: 20% 0% 10% 0%;

}

.about article h1,
.about article a {
    color: var(--primary--dark);
    text-shadow: 0 0 0.3rem var(--highlight--dark);
    transition: transform 0.5s ease-in-out;
}

.about article h1:hover {
    cursor: grab;
    text-shadow: 0 0 0.5rem var(--highlight--dark);
    transform: skew(5deg) scale(1.1);
}


.about article a:hover {
    cursor: pointer;
    text-shadow: 0 0 0.6rem var(--highlight--dark);
    transform: skew(5deg) scale(1.2);
}


.about article hr {
    width: 100%;
    border-color: var(--primary--light);
    box-shadow: 0 0 0.3rem var(--highlight--light);
}

.about aside {
    background-image: url(/src/assets/diagmonds.png);
    width: 20%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    overflow: hidden;
    border: 1px solid var(--primary--light);
    border-radius: 50% 0% 50% 0%;
    box-shadow: 0 0 0.3rem var(--highlight--light);
}

.about aside span {
    color: var(--primary--dark);
    text-shadow: 0 0 0.3rem var(--highlight--dark);
}

.about aside img {
    width: 100%;
    outline: 2px solid var(--primary--light);
    border-radius: 50% 0% 60% 00%;
    box-shadow: 0 0 0.3rem var(--highlight--light);
    transition: 1s ease-in-out;
}

.about aside img:hover {
    cursor: pointer;
    scale: 0.98;
    transform: skew(1deg);
}

.projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.projects article {
    background-image: url(/src/assets/diagmonds.png);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid var(--primary--light);
    border-radius: 1rem 1rem 15% 15%;
    box-shadow: 0 0 0.3rem var(--highlight--light);
    padding: 2rem;
}

.gridProjects {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}


.gridProjects img {
    width: 100%;
    height: auto;
    border: 1px solid var(--primary--light);
    border-radius: 0% 0% 0% 0%;
    border-radius: 0.5rem;
    transition: 1.1s ease-in-out;
}

.gridProjects img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 0.3rem var(--highlight--light);
}

.projects button {
    width: 20%;
    height: auto;
    background-color: var(--transparent--dark);
    padding: 1rem;
    border: 1px solid var(--primary--light);
    color: var(--primary--dark);
    border-radius: 0.5rem 0;
    transition: 0.5s ease-in-out;
}

.projects button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 0.3rem var(--highlight--light);
    text-shadow: 0 0 0.3rem var(--highlight--dark);
}

.certificates {
    width: 100%;
    overflow: hidden;
}

.certificates article {
    background-image: url(/src/assets/diagmonds.png);
}

.resume {
    background-image: url(/src/assets/diagmonds.png);
    width: 100%;
    overflow: hidden;
}

footer {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: relative;

}

.overlayText {
    align-self: center;
    justify-self: center;
    width: 10rem;
    height: 3rem;
    color: var(--primary--dark);
    border: 1px solid var(--primary--light);
    background-color: #bf8be22a;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: 0;
}

.overlayBackground {
    width: 100%;
    height: 100%;
    background-color: #bf8be225;
    position:  absolute;
    top: 0;
    opacity: 0;
}

.overlayBackground:hover{
    opacity: 1;
}

.overlayText:hover {
    opacity: 1;
}



.certificates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.certificates article {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-image: url(/src/assets/diagmonds.png);
    overflow: hidden;
}

.certificates aside {
    background-image: url(/src/assets/diagmonds.png);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certificates img {

    width: 400px;
}